/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Lato", sans-serif;
}

/* Navbar styles */
/* .navbar {
  background: linear-gradient(to right,  #ffffff,#eba34c,#da270b,#7707ae, #1c0486);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5rem;
  height: 7vh;
} */
.navbar {
  background: linear-gradient(to right,  #ffffff,#eba34c,#da270b,#7707ae, #1c0486);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5rem;
  height: 7vh;
  position: relative; /* Add relative positioning */
  z-index: 2; /* Ensure navbar is above other content */
}

/* Hero section styles */

.mobile-menu {
  display: none;
  cursor: pointer;
  padding: 1rem;
}

#mobile-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2.5rem;
}

.hamburger {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 0;
  transition: 0.4s;
  position: relative;
}

.hamburger:before,
.hamburger:after {
  content: "";
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  transition: 0.4s;
}

.hamburger:before {
  top: -8px;
}

.hamburger:after {
  top: 8px;
}

.hamburger.active {
  transform: rotate(-45deg);
}

.hamburger.active:before {
  transform: rotate(45deg);
  top: 0;
}

.hamburger.active:after {
  transform: rotate(90deg);
  top: 0;
}

.logo img {
  max-width: 30%; /* Allow the logo to adjust its width */
  height: auto;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-left: 5rem;
  padding: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-list li {
  margin-right: 1rem;
}
.nav-list li a.resume-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ADB5;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow:1px 2.5px  rgba(255, 255, 255, 0.3); /* Add drop shadow */

}

.nav-list li a.resume-button:hover {
    background-color: #1E5AA7;
    color: white;
    box-shadow:1px 2.5px  rgba(255, 255, 255, 0.3); /* Add drop shadow */

}
.nav-list a {
  text-decoration: none;
  color: white;
}

/* Hero section styles */
/* .hero {

  background-image:url("./vivid-blurred-colorful-wallpaper-background.jpg");
  
    background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

} */
.hero {
  background-image: url("./vivid-blurred-colorful-wallpaper-background.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: relative; /* Add relative positioning */
  z-index: 1; /* Ensure hero section is behind navbar */
}
.text-bg {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    padding: 20px; /* Add padding to create space between text and background */
    border-radius: 10px; /* Add rounded corners to the background */
    position: absolute; /* Position absolutely to cover the hero content */
    top: 50%; /* Move the background to the vertical center */
    left: 50%; /* Move the background to the horizontal center */
    transform: translate(-50%, -50%); /* Center the background */
    max-width: 80%; / /* Adjust width as needed */
}
.hero-content {
  position: relative;   
  color: white;
 
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 24px;
  margin: 6px 0; /* Add spacing between the lines */
  transition: font-size 0.4s ease;

}





        .circle-section {
          background-color: #181717;
          height: 40vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }

      .circle-container {
          display: flex;
          margin-top: 20px;
      }

      .circle {
          width: 15vw;
          min-width: 150px; /* Set a minimum width */
          height: calc(15vw); /* Maintain 2:3 aspect ratio */
          max-height: 30vh; /* Set a maximum height */
          background-image: linear-gradient(to bottom right,#c04848, #480048); 
          border-radius: 50%;
           /* border-style: solid;
           border-color: #653600;
           border-width: 2px; */
           box-shadow:  0px 8px 0px 3px #271f44;
          margin-right: 4vw;
          margin-top: -10vh;
          perspective: 1000px;
          transition: transform 0.8s;
          transform-style: preserve-3d;
          
      }
      .circle:hover{
        transform: rotatey(180deg);
      }
      .circle-text, .circle-text-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }
.circle-text {
  text-align: center;
  margin-top: 10vh;
  color: white;
  backface-visibility: hidden;


}
.circle-text2 {
  text-align: center;
  margin-top: 10vh;
  color: white;
  transform: rotateY(180deg);
  backface-visibility: hidden;

}

















@media (max-width: 768px) {
    .hero p {
        font-size: 20px !important; /* Adjust font size for smaller screens */
    }
  .logo img {
    margin-left: 1rem; /* Adjust the margin for smaller screens */
  }
  .mobile-menu {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    border-top: 2px solid white; /* Add border to the top */
  }

  .nav-list.active {
    display: flex;
  }

  .nav-list li {
    border-bottom: 1px solid white; /* Add border to each list item */
    padding: 1rem; /* Add padding to each list item */
  }

  .nav-list li:last-child {
    border-bottom: none; /* Remove border from the last list item */
  }
  .circle-section {
    height: 150vh;
}
  .circle-container {
    flex-direction: column;
    align-items: center;
    margin-top: -50vh;
}

.circle {
  width: 15vw;
  min-width: 32vw; /* Set a minimum width */
  height: 30vh; /* Maintain 2:3 aspect ratio */
  max-height: 30vh; /* Set a maximum height */
  background-color: white;
  border-radius: 50%;
  margin-right: 4vw;
  margin-top: 2vh;
}

}
