
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Lato", sans-serif;
}


/* .navbar {
  background: linear-gradient(to right,  #ffffff,#eba34c,#da270b,#7707ae, #1c0486);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5rem;
  height: 7vh;
} */
.navbar {
  background: linear-gradient(to right,  #ffffff,#eba34c,#da270b,#7707ae, #1c0486);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5rem;
  height: 7vh;
  position: relative; 
  z-index: 2;
  
}

/* Hero section styles */

.mobile-menu {
  display: none;
  cursor: pointer;
  padding: 1rem;
}

#mobile-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2.5rem;
}

.hamburger {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 0;
  transition: 0.4s;
  position: relative;
}

.hamburger:before,
.hamburger:after {
  content: "";
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  transition: 0.4s;
}

.hamburger:before {
  top: -8px;
}

.hamburger:after {
  top: 8px;
}

.hamburger.active {
  transform: rotate(-45deg);
}

.hamburger.active:before {
  transform: rotate(45deg);
  top: 0;
}

.hamburger.active:after {
  transform: rotate(90deg);
  top: 0;
}

.logo img {
  max-width: 30%;
  height: auto;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-left: 5rem;
  padding: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-list li {
  margin-right: 1rem;
}
.nav-list li a.resume-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ADB5;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow:1px 2.5px  rgba(255, 255, 255, 0.3);

}

.nav-list li a.resume-button:hover {
    background-color: #1E5AA7;
    color: white;
    box-shadow:1px 2.5px  rgba(255, 255, 255, 0.3); 

}
.nav-list a {
  text-decoration: none;
  color: white;
}




.hero {
  background-image: url("./vivid-blurred-colorful-wallpaper-background.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: relative; 
  z-index: 1;
}
.text-bg {
  background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    max-width: 80%; / 
}
.hero-content {
  position: relative;   
  color: white;
 
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 24px;
  margin: 6px 0;
  transition: font-size 0.4s ease;

}





        .circle-section {
          background-image:linear-gradient(to bottom, #320132,#000000);
          height: 35vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }

      .circle-container {
          display: flex;
          margin-top: 20px;
      }

      .circle {
          width: 15vw;
          min-width: 150px;
          height: calc(15vw); 
          max-height: 30vh; 
          background-image: linear-gradient(to bottom right,#c04848, #480048); 
          border-radius: 50%;
           /* border-style: solid;
           border-color: #653600;
           border-width: 2px; */
           box-shadow:  0px 8px 0px 3px #271f44;
          margin-right: 4vw;
          margin-top: -6vh;
          perspective: 1000px;
          transition: transform 0.8s;
          transform-style: preserve-3d;
          
      }
      .circle:hover{
        transform: rotatey(180deg);
      }
      .circle-text, .circle-text-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; 
        backface-visibility: hidden;
      }
.circle-text {
  text-align: center;
  margin-top: 10vh;
  color: white;
  backface-visibility: hidden;


}
.circle-text2 {
  text-align: center;
  margin-top: 10vh;
  color: white;
  transform: rotateY(180deg);
  backface-visibility: hidden;

}




.about-me-section{
  background-color: #000000;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}
.about-me-container{
  display: flex;
  margin-left: 5vw;
  flex-wrap: 30vw;
  
}
.my-pic{
  background-image: url("./vivid-blurred-colorful-wallpaper-background.jpg");
  width: 20vw;
  height: 40vh;
  border-radius: 50%;
  margin-left: -2vw;
  min-width: 300px; 
  margin-bottom: 5vh;

}
.about-me-text{
  width: 40vw;
  margin-left: 10vw;
  font-size: 1.4vw;
  min-width: 30vw;
  color: #FFCC66;
}
.about-me-text h1{
  font-weight:bolder;
  color: aliceblue;
  
}
.about-me-text h1:hover{
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}
.about-me-text p{
  margin-top: 5vh;
  font-size:large;
  font-style: normal;
  
}











@media (max-width: 768px) {
    .hero p {
        font-size: 20px !important; 
    }
  .logo img {
    margin-left: 1rem; 
  }
  .mobile-menu {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    background: rgb(0, 0, 0);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    margin: 0; 
    padding: 0; 
    border-top: 2px solid white; /
  }

  .nav-list.active {
    display: flex;
  }

  .nav-list li {
    border-bottom: 1px solid white; 
    padding: 1rem;
  }

  .nav-list li:last-child {
    border-bottom: none;
  }
  .circle-section {
    height: 180vh;
}
  .circle-container {
    flex-direction: column;
    align-items: center;
    margin-top: -50vh;
}

.circle {
  width: 15vw;
  min-width: 200px;
  height: 30vh;
  max-height: 30vh; 
  background-color: white;
  border-radius: 50%;
  margin-right: 4vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.about-me-container{
  margin-top: -60vh;
  margin-right: 5vw;
  flex-direction: column;
  align-items: center;
}
.my-pic{
  width: 5vw;
  min-width: 230px;
  height: 30vh;
}

.about-me-text{
  width: 70vw;
}
.about-me-text h1{
  margin-left: 10vw;
  font-size:x-large;
}

}
