.hero {
  background-image: url("../images/heroImg.jpg");
  background-size: cover;
  background-color: #280d81;
  background-position: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}
.text-bg {
  /* From https://css.glass */
background: rgba(5, 5, 5, 0.5);
backdrop-filter: blur(3.1px);
-webkit-backdrop-filter: blur(10.1px);

  /* background-color: rgba(0, 0, 0, 0.5); */
  box-shadow: 2px 2px 5px 0px #000000;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 85%;
  /* align-items: center; */
  width: 500px;
}
.hero-content {
  position: relative;
  color: white;
  margin-left: 4.5vw;
}

.hero h1 {
  font-size: 24px;
  margin-bottom: 1rem;

}

.hero p {
  font-size: 24px;
  margin: 6px 0;
  transition: font-size 0.4s ease;
}

@media (max-width: 768px) {
  .text-bg {
    width: 300px;
  }
  .hero p {
    margin-left: -20px;
    font-size: 1.6rem !important;
  }
}
